.App-footer {
    border-top: #00003C 4px solid;
    background-color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-family: Galano Grotesque Alt, sans-serif;
    color: #00003C;
  }
