.App-body {
    padding-left: 30px;
    padding-top: 40px;
    font-family: Galano Grotesque Alt, sans-serif;
    color: #00003C;
  }
  
  .info {
    display: flex;
    flex-direction: row;
  
    > label {
      margin-right: 10px;
  
      > input {
        margin-left: 10px;
      }
    }
  }
